{% extends "layout.html" %}
{% block title %}History{% endblock %}
{% block main %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th><th>Symbol</th><th class="text-end">Shares</th>
      <th class="text-end">Price</th><th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for t in tx %}
    <tr>
      <td>{{ "BUY" if t.shares > 0 else "SELL" }}</td>
      <td>{{ t.symbol }}</td>
      <td class="text-end">{{ t.shares | abs }}</td>
      <td class="text-end">{{ t.price | usd }}</td>
      <td>{{ t.transacted }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
